<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659910408059-e8pjm91gs86r181v0ligs1nld7u8lkps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659910408059-e8pjm91gs86r181v0ligs1nld7u8lkps</string>
	<key>API_KEY</key>
	<string>AIzaSyCdJk4gBpbQTV7a2TGMiSqUOvY3hkOjDcg</string>
	<key>GCM_SENDER_ID</key>
	<string>659910408059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SBOLSchool.EasyStudy</string>
	<key>PROJECT_ID</key>
	<string>easystudy-1e8f5</string>
	<key>STORAGE_BUCKET</key>
	<string>easystudy-1e8f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659910408059:ios:84c879aa48f6e291</string>
	<key>DATABASE_URL</key>
	<string>https://easystudy-1e8f5.firebaseio.com</string>
</dict>
</plist>